$red : 	#ff6b6b;
$red-light :	#fc8888;
$red-white: hsl(0, 100%, 98%);
$red-title: hsl(0, 0%, 54%);
$red-text: hsl(0, 6%, 52%);

$blue: #1158cb;

$light: #ffffff;
$grey: #8899BA;
$light-grey: #FAFAFA;
$black: #242424;

$text-color: #202020;
$title-color: #263654;

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all linear 0.3s;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Reset All Browsers Styles
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*, *::after, *::before {
box-sizing: inherit;
}

* {
font: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
margin: 0;
padding: 0;
border: 0;
}

html {
box-sizing: border-box;
overflow-x: hidden; 
}

body {
background-color: $black;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main, form legend {
display: block;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

button, input, textarea, select {
margin: 0;
}

.btn, .form-control, .link, .reset { // reset style of buttons + form controls
background-color: transparent;
padding: 0;
border: 0;
border-radius: 0;
color: inherit;
line-height: inherit;
appearance: none;
}

select.form-control::-ms-expand {
display: none; // hide Select default icon on IE
}

textarea {
resize: vertical;
overflow: auto;
vertical-align: top;
}

input::-ms-clear {
display: none; // hide X icon in IE and Edge
}

table {
border-collapse: collapse;
border-spacing: 0;
}

img, video, svg {
max-width: 100%;
height: auto;
}

.container {
width: 100%;
max-width: 1140px;
margin: 0 auto;
padding: 0 30px;

@media screen and(max-width: 900px) {
        max-width: 100%;
}
}

/* Typography
--------------------------------------------- */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: normal;
  height: 100%;
  height: 100vh;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  color: $text-color;
  background-color: $black;
  //display: flex;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: .7pt;
  color: $title-color;
}

p {
font-family: 'Montserrat', sans-serif;
font-size: 1em;
line-height: 1.5em;
}

.p0 {
padding: 0 !important;
}

/* Home
--------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;

  &__container {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      width: 100%;

      @media screen and(max-width: 900px) {
        // flex-direction: column;
        // align-items: center;
      }
  }

  &__logo {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.6em;
      z-index: 5;
      padding: 15px;

      &--link{
          color: $light;
          text-decoration: none;
      }
  }

  &__button {
    z-index: 50;
    background: transparent;
    border: 1px solid $light;
    opacity: 0.5;
    color: $light;
    padding: 15px;
    cursor: pointer;
    border-radius: 13px;
    display: none;

    @media screen and(max-width: 900px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      opacity: 1;
    }

    &--icon {
      position: relative;
      display: block;
      width: 1em;
      height: 2px;
      background: $light;
      margin-right: 10px;
      transition: all linear 0.3s;

      &::before {
        content: '';
        position: absolute;
        width: 1em;
        height: 2px;
        background: $light;
        top: -5px;
        left: 0;
        transition: all linear 0.3s;
      }

      &::after {
        content: '';
        position: absolute;
        width: 1em;
        height: 2px;
        background: $light;
        top: 5px;
        left: 0;
        transition: all linear 0.3s;
      }
    }

    &.open {
      .header__button--icon {
        background: transparent;

        &::after {
          transform: rotate(45deg);
          top:0;
        }
        &::before {
          transform: rotate(-45deg);
          top: 0;
        }
      }

    }
  }

  &__menu {
      @media screen and(max-width: 900px) {
        display: block;
        top: -100vh;
        position: absolute;
        height: 100vh;
        width: 100%;
        background: $text-color;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all linear 0.3s;
      }

      &.visible {
        top: 0;

        .header__menu__list {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      }

      &__list {
          display: flex;

          &--item {
              padding: 15px;
              opacity: 0.5;
              transition: all linear 0.3s;

              &:hover, &.active {
                opacity: 1;
              }

              @media screen and(max-width: 900px) {
                padding: 30px 0;
              }
          }

          &--link {
              color: $light;
              text-decoration: none;
          }
      }
  }
}

.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(17,88,203);
  background: linear-gradient(135deg, rgba(17,88,203,1) 0%, rgba(1,47,124,1) 100%);
}



/* Footer
--------------------------------------------- */

.footer {
position: absolute;
bottom: 0;
align-self: flex-end;
display: flex;
justify-content: space-between;
z-index: 2;
width: 100%;
padding: 15px;
margin: 0 auto;

@media screen and(max-width: 900px) {
  flex-direction: column;
  align-items: center;
}

&__social {
  @media screen and(max-width: 900px) {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;

    &--item {
      margin-right: 15px;
    }

    &--link {
      color: $light;
      text-decoration: none;
      transition: all linear 0.3s;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

&__copyright {
  color: $light;
  opacity: 0.5;
}


}

/* Resume
--------------------------------------------- */

.portrait {
scroll-behavior: smooth;
height: 100vh;
width: 100%;
overflow: hidden;
background-image: url('./img/resume.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: top right;
display: flex;
justify-content: flex-start;
align-items: center;
@media screen and(max-width: 900px) {
  justify-content: center;
}

&__intro {
  z-index: 2;
  color: $light;
  font-size: 20px;
  max-width: 500px;

  @media screen and(max-width: 900px) {
    margin: 0 auto;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
  }

  &--title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: $light;
    margin-bottom: 30px;

    @media screen and(max-width: 900px) {
      font-size: 30px;
    }
  }

  &--button {
    padding: 15px;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    background: rgb(17,88,203);
    border: 2px solid rgb(17,88,203);

    @media screen and(max-width: 900px) {
      font-size: 20px;
      padding: 10px;
    }

    &:hover, &:focus {
      border: 2px solid $light;
      background: transparent;
    }
  }

}

&__parallax {
  position: absolute;
  left: 150px;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  overflow: hidden;
  @media screen and(max-width: 900px) {
    left: 0;
    width: 100%;
    text-align: center;
  }
  &__image {
    opacity: 0.5;
  }
}

.scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 5;
  text-align: center;
}
}

.resume {
padding: 100px 0;

.work {
  &__title {
    font-size: 40px;
    color: $title-color;
    border: 1px solid $title-color;
    width: fit-content;
    padding: 5px 20px;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and(max-width: 900px) {
      display: flex;
      flex-direction: column;
    }

    &__image {
      height: fit-content;
    }

    &::after {
      content: "";
      position: absolute;
      left: 25px;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: $grey;

      @media screen and(max-width: 900px) {
        height: 2px;
        width: 100%;
        left: 0;
      }
    }

    &.current::after {
      background-color: rgb(17,88,203);
    }

    &:first-of-type {
      &::after {
        @media screen and(max-width: 900px) {
          display: none;
        }
      }
    }

    &:last-of-type {
      &::after {
        display: none;

        @media screen and(max-width: 900px) {
          display: block;
        }
      }
    }

    &__date {
      margin-top: 15px;
      color: rgb(17,88,203);
      font-style: italic;
      font-size: 16px;
      margin-bottom: 0px;
    }

    &__title {
      color: $title-color;
      font-size: 20px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;

      @media screen and(max-width: 900px) {
        flex-direction: column;
      }
    }

    &__text {
      color: $text-color;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;

      @media screen and(max-width: 900px) {
        margin-bottom: 20px;
      }
    }

    &__company {
      text-align: right;

      @media screen and(max-width: 900px) {
        text-align: left;
      }
    }

    &--left {
      padding-left: 70px;
      padding-right: 50px;
      position: relative;

      @media screen and(max-width: 900px) {
        padding-right: 0;
        padding-left: 0;
      }

      &::before {
        content: attr(data-number);
        position: absolute;
        color: $light;
        width: 50px;
        height: 50px;
        background-color: $grey;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 2;

        @media screen and(max-width: 900px) {
          display: none;
        }
      }

      
    }

    &.current .work__item--left::before {
      background-color: rgb(17,88,203);
    }

    &--right {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and(max-width: 900px) {
        padding-left: 0px;
        width: 100%;
      }
      @media screen and(max-width: 400px) {
        display: none;
      }
    }
  }
}
}

.education {
background: $light-grey;
padding: 100px 0;

&__title {
  font-size: 40px;
  color: $title-color;
  border: 1px solid $title-color;
  width: fit-content;
  padding: 5px 20px;
  margin: 0 auto 30px;
}

.school {
  display: flex;
  flex-direction: column;

  &__card {
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    min-height: 270px;

    @media screen and(max-width: 900px) {
      display: flex;
      flex-direction: column;
      min-height: auto;
      padding: 15px;
    }

    &__info {
      text-align: right;
      padding: 15px 50px 15px 0;

      @media screen and(max-width: 900px) {
        padding: 0 15px;
        text-align: left;
      }

      &__date {
        color: rgb(17,88,203);
        font-style: italic;
        font-size: 16px;
        margin-bottom: 0px;
      }

      &__title {
        color: $title-color;
        font-size: 20px;
        margin-bottom: 15px;
      }

      &__text {
        color: $text-color;
        font-size: 16px;
        line-height: 24px;
      }
    }



    &__image {
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:nth-of-type(1) .school__card__image {
      background-image: url('./img/creapole.jpg');
    }

    &:nth-of-type(2) .school__card__image {
      background-image: url('./img/efrei.jpg');
    }

    &:nth-of-type(3) .school__card__image{
      background-image: url('./img/buffon.jpg');
    }
  }

  &__item {
    position: relative;
    width: 50%;
    align-self: flex-start;
    padding-right: 70px;
    text-align: right;

    &::before {
      content: attr(data-number);
      position: absolute;
      color: $light;
      width: 50px;
      height: 50px;
      background-color: rgb(17,88,203);
      right: -25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: rgb(17,88,203);
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }

    &:nth-of-type(even){
      align-self: flex-end;
      padding-left: 70px;
      text-align: left;

      &::before {
        left: -25px;
      }

      &::after {
        left: 0px;
      }

    }

    &__date {
      margin-top: 15px;
      color: rgb(17,88,203);
      font-style: italic;
      font-size: 16px;
      margin-bottom: 0px;
    }

    &__title {
      color: $title-color;
      font-size: 20px;
      margin-bottom: 15px;
    }

    &__text {
      color: $text-color;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }
  }
}
}