// red
$red : 	#ff6b6b;
$red-light :	#fc8888;
$red-white: hsl(0, 100%, 98%);
$red-title: hsl(0, 0%, 54%);
$red-text: hsl(0, 6%, 52%);

$light: #ffffff;
$grey: #8899BA;
$light-grey: #FAFAFA;
$black: #242424;
$blue: #1158cb;

$text-color: #202020;
$title-color: #263654;