// red
$red : 	#ff6b6b;
$red-light :	#fc8888;
$red-white: hsl(0, 100%, 98%);
$red-title: hsl(0, 0%, 54%);
$red-text: hsl(0, 6%, 52%);

$blue: #1158cb;

$light: #ffffff;
$grey: #8899BA;
$light-grey: #c1c1c1;
$black: #242424;

$text-color: #202020;
$title-color: #263654;

$ballman-dark: #050408;
$ballman-pink: #E83180;
$ballman-yellow: #FBF817;
